html {
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth; 
  }

  /* zoom on :hover
  effect cursor
  gradient font */
  
  @font-face {
    font-family: 'GRIFTER';
    src: url('font/grifter_bold_700-webfont.woff2') format('woff2'),
    url('font/grifter_bold_700-webfont.woff') format('woff'),
    url('font/GRIFTER Bold 700.ttf') format('truetype'); /* Lokasi file font */
  }
  
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    
    margin:0;
    background: #ffffff;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    scroll-snap-type:y unset; /* Enables scroll snapping */
}
  
h1 {
    font-family: 'GRIFTER';
    top: 50vw;
    left: 50vh;
}
 
.text {
    font-family: 'GRIFTER';
    text-align: center;
    font-size: 5vw;
    color:white;
  }